.navbar {
    background-color: rgba(0, 0, 0, 0.126) !important; /* Semi-transparent black */
    backdrop-filter: blur(5px) !important; /* Adds a blur effect */
    transition: background-color 0.3s ease !important; /* Smooth transition on scroll or hover */
  }
  
  
  .navbar-brand {
    color: white !important;
    
    font-family: "Raleway", serif !important;

    /* Ensure brand is visible */
  }
  .nav_item{
    font-family: "Raleway", serif !important;
    font-size: small !important;
    margin-right: 10px !important;
  }
  .form_cont:focus{
    box-shadow: none !important;
    border-color: #692ff2 !important;
  }
  
  .nav-link {
    color: white !important;
    font-family: "Raleway", serif !important;
    font-size: small !important; 
    font-weight: bold !important;/* Ensure links are visible */
  }
  
  .nav-link:hover {
    color: #692ff2 !important; /* Add hover effect for links */
  }
    .btn-sign{
      font-family: "Raleway", serif;
    font-size: small ;
    margin-left: 10px ;
  width:100px;
  border-color: #692ff2;
  color: #1f1f1f;
  height: 40px ;
  margin-right: 10px ;
}
  .btn-log{
    font-family: "Raleway", serif;
    font-size: small ;
    border-color: #692ff2;
    margin-left: 10px ;
  width:100px;
  color: #1f1f1f;
  height: 40px ;
  margin-right: 10px ;
}
.custom-modal  {
  max-width: 400px !important; /* Custom width */
  margin: auto;
  font-family: "Raleway", serif !important;

}