.navbar {
    /* background-color: rgba(0, 0, 0, 0) !important; Semi-transparent black */
    /* background-color: transparent !important; */
    background-color: #1f1f1f63 !important;
  position: absolute !important;
  width: 100% !important;
  z-index: 10; /* Smooth transition on scroll or hover */
  }
  .navbar-toggler{
    color:aliceblue !important;
    background-color: #1f1f1f !important;
    border-radius: 25px !important;
  }
  
  .navbar-brand {
    color: white !important;
    
    font-family: "Raleway", serif !important;

    /* Ensure brand is visible */
  }
  .nav_item{
    font-family: "Raleway", serif !important;
    font-size: small !important;
    margin-right: 10px !important;
  }
  .form_cont:focus{
    box-shadow: none !important;
    border-color: #692ff2 !important;
  }
  
  .nav-link {
    color: white !important;
    font-family: "Raleway", serif !important;
    font-size: small !important; 
    font-weight: bold !important;/* Ensure links are visible */
  }
  
  .nav-link:hover {
    color: #692ff2 !important; /* Add hover effect for links */
  }
    .btn-sign{
      font-family: "Raleway", serif;
    font-size: small ;
    margin-left: 10px ;
  width:100px;
  border-color: #692ff2 !important;
  color: #1f1f1f;
  height: 40px ;
  margin-right: 10px ;
}
  .btn-log{
    font-family: "Raleway", serif;
    font-size: small ;
    border-color: #692ff2 !important;
    margin-left: 10px ;
  width:100px;
  color: #1f1f1f;
  height: 40px ;
  margin-right: 10px ;
}
.custom-modal  {
  max-width: 400px !important; /* Custom width */
  margin: auto;
  font-family: "Raleway", serif !important;

}